<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label [innerHtml]="theHtml"></ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding" [ngSwitch]="theState">
    <div *ngSwitchCase="0">Not yet, dude...</div>
    <div *ngSwitchDefault>
      <ion-list>
        <ion-item>
          <ion-label [innerHtml]="theHtml"></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
